## starting python on April 10, 2020 from beginning ( H V)

# Print() function

### How to print out the hello world

In [1]:
print("hello world!") # can use a double quotation
print('Hello world!') # can use a single quotation
# the reason of using the quotation is to connect more than 1 characters
# group of more character is called the string

hello world!
Hello world!

In [2]:
print(" my name is 'Bishnu' and I a python learner")# single quotation inside double quote is allowed
print(' my name is "Bishnu" and I a python learner')# double quote inside single quote is  allowed

'''double quote inside double or single quote inside single quote is not allowed'''

 my name is 'Bishnu' and I a python learner
 my name is "Bishnu" and I a python learner

'double quote inside double or single quote inside single quote is not allowed'

In [3]:
a = "hello world!"  #  string can be stored in any of the varible
print(a)

hello world!

In [4]:
a = input(" please Enter a text message")
print(a)

 please Enter a text messageHello world
Hello world

# Escape Sequences
In Python strings, the backslash "\ " is called the "escape" character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return.

## Following are some escape sequences

In [5]:
'''
\"     double quote
\'     single quote

\n      new line
\t      tab
\\ single back slash
\\\\doube backslash



'''

'\n"     double quote\n\'     single quote\n\n\n      new line\n\t      tab\n\\ single back slash\n\\\\doube backslash\n\n\n\n'

In [6]:
print( " my name is \" Bishnu Pandey\" and I am a python lerner")
print( ' my name is \' Bishnu Pandey\' and I am a python lerner')
print(" I am Bishnu\tPandey")
print(" This is line 1\n This is line 2\n This is line 3")
print(" this is a  \\ single backslash  ")
print(" this is a  \\\\ double backslash  ")

 my name is " Bishnu Pandey" and I am a python lerner
 my name is ' Bishnu Pandey' and I am a python lerner
 I am Bishnu	Pandey
 This is line 1
 This is line 2
 This is line 3
 this is a  \ single backslash
 this is a  \\ double backslash

# Comments in Python
Comments is a message for a user or for a reader about the program or about the code 
### comment portion is not executed by the python
### Comments start with a # sign that is anything after # will not be executed

In [7]:
'''
In order to comment a line go to the line and do ctrl + forward slash
In order to uncomment the line go to the line and do ctrl + forward slash

'''

'\nIn order to comment a line go to the line and do ctrl + forward slash\nIn order to uncomment the line go to the line and do ctrl + forward slash\n\n'

# Use Escape sequence as normal text

In [8]:
print( " my name is \" Bishnu Pandey\" and I am a python lerner") # using the Escape sequence
print( r" my name is \" Bishnu Pandey\" and I am a python lerner") # Using escape sequence as normal text

 my name is " Bishnu Pandey" and I am a python lerner
 my name is \" Bishnu Pandey\" and I am a python lerner

In [9]:
print(" I am Bishnu\tPandey") # using the Escape sequence
# using the Escape sequence
print(r" I am Bishnu\tPandey")# Using escape sequence as normal text
print(r" This is line 1\n This is line 2\n This is line 3") # Using escape sequence as normal text
# Note if you write r before the first quote, the escape sequence work like a normal text

 I am Bishnu	Pandey
 I am Bishnu\tPandey
 This is line 1\n This is line 2\n This is line 3

# Operators in Python
Python as a calculator

In [10]:
'''
The following are the python operators

+   Addition operator

-   Subtraction operator

*  Multiplication operator

/  Float division

// Integer division

%  Modulo operator

** Exponent operator


'''

'\nThe following are the python operators\n\n+   Addition operator\n\n-   Subtraction operator\n\n*  Multiplication operator\n\n/  Float division\n\n// Integer division\n\n%  Modulo operator\n\n** Exponent operator\n\n\n'

In [11]:
print(2+3) # Addition operator
print(2-3) #Subtraction operator
print(2*3 + 5*10) #Multiplication operator
print(2/4) #Float division
print(20/4) #Float division
print(2//4) #Integer division
print(20//4) #Integer division

5
-1
56
0.5
5.0
0
5

In [12]:
# Modulo operaator gives the remainder
print(23%5)  #  here 3 is the remainder

3

In [13]:
# exponenet operator gives the power
print(4**2)
print(pow(4,2))

16
16

In [14]:
# print suqare root of a number
print(2**0.5) # it has a lot of numbers after decimal
print(round(2**0.5,4)) # This will round after the 4th decimal
print(5**0.5)# many decimal lnumbers
print(round(5**0.5,6)) #  here is the umber where it rounds or number after  the decimal

1.4142135623730951
1.4142
2.23606797749979
2.236068

# Precidence Rule

In [15]:
'''
      operators                  priority( Precidence and Associativity)

1.  parenthese                   highest priority

2.  Exponent                     Right to left( second highest)

3.  *, /, //, %                  Left to right(Third highest priority)

4. +, -                          Left to right ( least priority)

'''

'\n      operators                  priority( Precidence and Associativity)\n\n1.  parenthese                   highest priority\n\n2.  Exponent                     Right to left( second highest)\n\n3.  *, /, //, %                  Left to right(Third highest priority)\n\n4. +, -                          Left to right ( least priority)\n\n'

In [16]:
print((2+3)*5) # parenthese has highest priority
print((2+3)*5/6%4) # parenthesis then left to right as all of the operators has equal  priority

25
0.16666666666666696

In [17]:
# exponent  has right to left priority
print(2**3**2)# first 3**2 which is 9 then in the second step 2**9
print(2**9)# these two are same operations

512
512

# Variables

## In python variabales are used to store values.

In [18]:
"""
Any types of values can be stored in the variable. For example varaibe can be in the form of stirng or ineger 
or flot or etc.
x = a  here x is variable
x = 2
x= 'Bishnu' x is variable



"""

"\nAny types of values can be stored in the variable. For example varaibe can be in the form of stirng or ineger \nor flot or etc.\nx = a  here x is variable\nx = 2\nx= 'Bishnu' x is variable\n\n\n\n"

# Rules  for the variables

In [19]:
'''
1. any type of value like string, or float or integer canbe stored in the variable.
x = 2
x = "hello"
therefore python is clled the dynamic langage

2. Variable name should not start form anumber
 3name   this is not allowd
 
 3. Number can  be written in the middle of the letters
 eg name3   This type of naming is allowed
 
 
 4. variable name can be start with under score
 ex _name   this type of naming is allowed
 
 5. Any special type of character is not allowed in the variable name
 eg. @name  name_$3 not allowed
 
 6. If a varible has more words than one than it can be separated by underscore.........>snake case writing
 eg. user_name  allowed   This is the python convention
 
 7. If more than one words in a varibale,the second word can start with a upper case... camel case writing
 eg. userName   allowed     This is Java  convention
 
'''

'\n1. any type of value like string, or float or integer canbe stored in the variable.\nx = 2\nx = "hello"\ntherefore python is clled the dynamic langage\n\n2. Variable name should not start form anumber\n 3name   this is not allowd\n \n 3. Number can  be written in the middle of the letters\n eg name3   This type of naming is allowed\n \n \n 4. variable name can be start with under score\n ex _name   this type of naming is allowed\n \n 5. Any special type of character is not allowed in the variable name\n eg. @name  name_$3 not allowed\n \n 6. If a varible has more words than one than it can be separated by underscore.........>snake case writing\n eg. user_name  allowed   This is the python convention\n \n 7. If more than one words in a varibale,the second word can start with a upper case... camel case writing\n eg. userName   allowed     This is Java  convention\n \n'

In [20]:
num = 1
print(num)
num = " bishnu"
print(num)
var_name = 10  #snake case  writing ----> Python convention
print(var_name)
varName = 100 # camel case writing -----> Java convention --> can used as python as well
print(varName)

1
 bishnu
10
100

# String

## string is the collection of characters inside single or double quote

In [21]:
first_name= " Bishnu"
last_name = "pandey"
full_name = first_name+last_name  # Two strings can be added together
print(full_name)  #Note There is no space to make space

 Bishnupandey

In [22]:
first_name= " Bishnu "  # is space after u
last_name = "pandey"
full_name = first_name+last_name  # Two strings can be added together
print(full_name)

 Bishnu pandey

In [23]:
first_name= " Bishnu"
last_name = "pandey"
full_name = first_name+ " " + last_name  # Two strings can be added together along with a space in between
print(full_name)

 Bishnu pandey

In [24]:
# a number cannot be added to a string
# eg. first_name + 3 is not allowed
first_name = first_name + "3" #allowed as 3 is string
print(first_name)

 Bishnu3

In [25]:
name = "Bishnu"
name = name + str(3 # allowed as 3 is converted in to the string
print(name)

SyntaxError: invalid syntax (<ipython-input-25-8c9cfb9358fd>, line 3)

In [ ]:
name_1 = "siddartha"
print(name_1*3)

# User Input

# Can take input from the user.But the input is always in the form of string

In [26]:
name = input(" Please Enter your name")
print(name)

 Please Enter your nameBishnu
Bishnu

In [27]:
# Note: The entered input is always in the form of string eventhough you entered a number
age = input("please enter your age")
print(age)
print(type(age))

please enter your age1234
1234
<class 'str'>

# Int Function
it changes the given data in to the integer

In [28]:
a = input("please Enter your age")
print(a)
print(type(a))
b= int(a) # string is changed in to the integer
print(type(b))

please Enter your age35
35
<class 'str'>
<class 'int'>

# String function
This function change the given data type in to  the string function

In [ ]:
a = 123
print(a)
print(type(a))  # is an integer
b = str(a) # the given integer  is changed in to the string
print(type(b))

# Float function
This function changes the given data type in to the float

In [ ]:
a = 100
print(a)
print(type(a)) # a is an integer number
b = float(a)  # a is changed in to the flaot number
print(type(b))
print(b)

# Can assign more variables in one line
The first variable get the first value and so on

In [ ]:
name, age, x = " Bishnu", 25,100.0
print("The value of name is: ", name)
print(type(name))
print(" the value of age is:  ", "", age)
print(type(age))
print("the value of x is: ", x)
print(type(x))

In [ ]:
x = y = z = 20
print(x+y+z)

In [30]:
name, age = input("please enter your name and age").split() # make sure after input the name give an space
print("your name is : ", name)
print(" your age is : ",  age)

please enter your name and ageBishnu 35
your name is :  Bishnu
 your age is :  35

# String Formating

In [ ]:
name = "Bishnu"
age = 35
print("hello" + name + " your age is " + str(age)) # ugly syntax
print("Hello {} your age is {}".format(name,age)) # put {} where you have to assisgn variable and out side 
# the "" write .format() and assign the variables to .format() in the correct order
# I habe name  name variable so I gave {} where name is located  and so on 
# Finally I HAVE name and age only two variable  in the order name and age, so gave the order to .format()

# easy way for the String Formating

In [ ]:
name = "Bishnu"
age = 35
print("hello " + name + " your age is " + str(age)) # ugly syntax
print(f"Hello {name} your age is {age}")  # very clean syntax. do not forget f

# String Indexing

In [ ]:
'''
1. In python index always starts from 0 that is [0], [1], [2] and so on

2. Ig you start at the end of the string the index are [-1], [-2], [-3] and so on


'''

In [ ]:
name = "Bishnu"
print(f"Your name is {name}")
print(f"first index of {name}i s:",name[0]) # gives the first index only
print(f"third index of {name}i s:",name[2]) # gives the third index
print(f"first index of {name}i s:",name[-1]) # last index 
print(f"first index of {name}i s:",name[-2]) #  2ndlast index

# String Slicing

In [ ]:
'''
Can print part of the string.
syntax : 
1.  [start argument : stop argument +1]   ----> will start and end at the start and end location
2. [ : ] --> this does not have the start and end argument. so will start at the beginning and will go to end
3. [ : 3] ---> will print from beginning to the 2nd place 
4.  [ 3: ] --. Doesnot have end argument will go to the end


'''

In [ ]:
name = "Siddartha"
print(name[0:5]) # will print S to a 
print(name[0:2]) # will print Si only
print(name[:])  # print whole name
print(name[3:]) # will print 2nd d that is 3rd index to end
print(name[2:-2]) 
print(name[-3:-1])

# Step Argument

In [ ]:
"""
The string can be print by using a third argument called the step argument
that is insted aof printing all of the letters of string, it can prind by skipping few characters 

"""

In [ ]:
Name = " Siddartha Pandey"
print(Name[: : 1]) # will take the step 1 that is will print every character

In [ ]:
Name = "Siddartha  Pandey"
print(Name[: : 2]) # will take the step  of 2 means 1 character in between will be skipped

In [ ]:
Name = "Siddartha  Pandey"
print(Name[: : -1]) # will take 1 step from the end side

In [ ]:
Name = "Siddartha  Pandey"
print(Name[ -1: 5: -1]) # will take 1 step from the end side to 5th position

# Ask a user name and print it in the reverse order

In [32]:
name =input("Please Enter your name")
print(name[-1: : -1])

Please Enter your nameBishnu Pandey
yednaP unhsiB

# String Method

### len() function gives the length of the string

In [ ]:
name = "Bishnu Pandey"  # this counts the spaces as well
print(len(name))

## lower(), upper() and title() method

In [ ]:
"""
1. lower()   ---> make all of the characters in the lower case
2. upper() ---> will make the all of the characters upper case
3. title method  --> kkep the first letter upper case and the rest as lower case

"""

In [ ]:
Name = "Bishnu Pandey"
print(Name.lower()) # lower method
print(Name.upper())
print(Name.title())

# Count method

In [ ]:
"""
This method will count th frequency of a particular letter
"""

In [ ]:
NAME = "Bishnu Pandey"
print(NAME.count("n"))

In [ ]:
# Question: input a name from a user and a chareter
# 1. output the name of the user input
 #2. output the length of user name
# 3. counts the letter you entered as case insitive

In [33]:
name, char1 = input("please enter your name and a character ").split(",")# comma separated two inputs
print(f"your name is {name}")
name_1 = len(name)
print(f"total length of the use name is {name_1}")
name = name.lower()  # changed everything to the lowercase or can cahnge everything to the upper case
total = name.count(char1)
print(f"total {char1} in {name} is {total}")

please enter your name and a character Bishnu Pandey,n
your name is Bishnu Pandey
total length of the use name is 13
total n in bishnu pandey is 2

# Strip Method

In [ ]:
'''
StripMethod removes the extra space before after the words
1.   .lstrip() ---> removes the space towards left of a word
2.    .rstrip() removes the space towrds right from a word 
3.    .strip( removes the space on the either side of the word) 

NOte: the strip method doesn't remove the space in between a word


'''

In [ ]:
name = "     Bishnu       "
dots = "................"
print("hello")# just to show the space toward left of Bishnu
print(name) #both side of Bishnu there is space
print(name+dots)  # can see the space 
print(name.lstrip()+dots) # left side space is tremoved
print(name.rstrip()+dots)#right side space is removed
print(name.strip()+dots) # both side space is removed

In [ ]:
name = ("Bis hnu")# strip method  will  not remove the space between  s and h as they are different words
print(name)
print(name.strip())

###  .strip().lower().count(char.strip().lower())is allowed means more methods can use one line & char is variable

# Replace Method

In [ ]:
'''
Replace all of the spaces in a variable by anything 
it needs two arguments 
eg. .erplace(" ", "")  here the first argument is the space and the second argement is no space

'''

In [ ]:
name = " Bi  sh  nu "
print(name.replace(" ", "")) # first " " is space and  second "" is no space
print(name.replace(" ", "!")) # each space is replaced by ! sign

In [ ]:
string_1 = " she is beautiful and is a good dancer" # replace all of the spaces by _ sign
print(string_1.replace(" ","_"))
print(string_1.replace("is","was"))# is will be replaced with was

In [ ]:
# would like to replace only one is with was that is first is will be replaced by was
print(string_1.replace("is","was",1)) # note 1 can be replaced by 2 or so

# Find Method

### find method find the position of a word or a character in a string

In [ ]:
string_1 = "she is beautiful and is a good dancer" # lets find the position of is 
print(string_1.find("is"))
string_2 = "is she is beautiful and is a good dancer"
print(string_2.find("is")) # the frst position is found
string_3 = "is she is beautiful and is a good dancer" # I wouldlike to find the second is
print(string_3.find("is",1)) # The 1 means search will start after position 1

# Center Method

In [ ]:
"""
By using the center method we can add some special characters in our string
For example I would like to add two  stars **  on the either side of the string
syntax :   variable.center(i, "*") here i   is the interger number which is equal to length of the string + 
the number of star you want to add

eg : name = "Bishnu"    length = 6
wouldlike to add 2 star on either side of Bishnu
syntax:   name.center(10,"*")  # 10 = 6 +4 here 6 is length of Bishnu and 4 means 2 2 star on each
side of Bishnu

"""

In [ ]:
name = "Bishnu"
print(name.center(10,"*"))

In [ ]:
name = "Bishnu"
print(name.center(7,"*"))
print(name.center(8,"!"))

# String is immutable

### once string is made you can not change it later

In [ ]:
name = "bishnu"
print(name[0])
# Now I would like to replace lower case b by upper case B
name[0] = "B" # This not allowed
print(name[0])

In [ ]:
name = "bishnu"
print(name)
name_1 = name.replace("b", "B") # this is new string
print("This is a new string",name_1)
print("this is the original string",name)

# Conditional Statements

## 1. If else statemment

In [ ]:
"""
These conditional statements are used to check the given condition.
If the the condition is true, then the  if block of the code will be  executed.
If the condition is not true, then the  if block of the code will be skipped and will not be executed.

"""

In [ ]:
# simple syntax for the if statments
age =15
if age>18:
    print("you are eligible to smoke") # if the  given condition is true this part will be executed
else:
    print("you are under age for smoke") # if the given condition is false, else part will be executed

In [ ]:
winning_num = 25
count =0
guess_num = input("Please guess a number bbetween 0 and 100 ,") 
guess_num = int(guess_num)
if guess_num==winning_num:
    print("you win the game")
elif guess_num> winning_num:
    print("You guessed too large number")
else: print("you guessed too low number")

# and & or operator

In [ ]:
"""
and operator   ......> both of the given condition must be true to execute the code
or  operator   .......> at least one of the condition must be true to execute the code
see the following example

"""

In [ ]:
name = "Bishnu"
age = 35
if name =="Bishnu" and age == 35: # both conditions are true
    print("you are great!")
else:
    print("you are wrong person")

In [ ]:
name = "Bishnu"
age = 25
if name=="Bishnu" or age == 35:# only name is true , age is not correct but the code is still running
    print("condition is true")
else:
    print("condition is false")

In [ ]:
'''
write a program  that says if you name start from B or b and your age is > 30 
you can watch 3idiot movie 
otherwise you are not allowed for the movie


'''

In [34]:
name,age = input("Please enter you name and age separated by coma ").split(",")
age = int(age)
name_1 = name[0]
if (name_1== 'B' or name_1=='b') and age>= 30:
    print("you are allowed to watch the 3 idiot movie")
else:
    print("you are not allowed for that movie")

Please enter you name and age separated by coma Bishnu Pandey,35
you are allowed to watch the 3 idiot movie

# if with in

In [ ]:
name = " Siddartha Pandey"
if 'a' in name:
    print(f" a is present in{name}")
else:
    print(f" a is not present in {name}")

In [ ]:
name = " Sarwin, Pandey"
if 'z' in name:
    print(f" z is present in{name}")
else:
    print(f" z is not present in {name}")

## use of if loop in different way

In [ ]:
"""
I am going to check the whether the given stwring is emptey  or not
"""

In [ ]:
name = "Bishnu"
if name:
    print(f"your name is {name}")
else:
    print("you didn't enter your name")

In [ ]:
name = ""
if name:
    print(f"your name is {name}")
else:
    print("you didn't enter your name")

# while loop

In [ ]:
"""
if same code need to be executed for more than one times we use the while loop
lets print hello world 10 times

"""

In [ ]:
i = 0
while i<10:
    print(f"Hello world! {i}")
    i = i+1
print("Blast off!")

# sum of first 10 numbers by using the while loop

In [ ]:
i = 1
sum =0
while i<=10:
    sum = sum+i
    print(f"the sum of up to {i} is :",sum)
    i=i+1   
print("total sum of first 10 number is = ",sum)

### taake a number from a user and sum up to that number

In [35]:
num = input("please enter a number between 0 and 100 : ")
num = int(num)
i =0
sum =0
while i<= num:
    sum=sum+i
    i=i+1
print(f"The sum of the numbers up to {num} is = ",sum)

please enter a number between 0 and 100 : 25
The sum of the numbers up to 25 is =  325

## ask user to input a 5 digit number and find the sum of them

In [ ]:
"""
eg 12345
find sum of 1+2+3+4+5

"""

In [36]:
num=input("Please enter a five digit number: ")
sum = int(num[0]) + int(num[1]) + int(num[2]) + int(num[3])+int(num[4])
print(sum)

Please enter a five digit number: 12345
15

In [37]:
num=input("Please enter a multiple  digit number: ") # same problem different way
sum=0
i=0
while i < len(num):
    sum=sum+int(num[i])
    i=i+1
print(sum)

Please enter a multiple  digit number: 12345
15

In [ ]:
print("hello world")

## Problem

In [ ]:
"""
Ask a ueser to input his/her name
print out each letter and count the frequency of each letter
B  1
i  1
s  1
h  1
n  1
u  1
  note counts the space as well

"""

In [40]:
name = input("Please Enter your name: ")
i=0
j=0
while i < len(name):
    while j<len(name):
        if name[i] == name[j]:
            count = 0
            count=count+1
            print(name[i],count)
            j=j+1
            i=i+1

Please Enter your name: Bishnu Pandey
B 1
i 1
s 1
h 1
n 1
u 1
  1
P 1
a 1
n 1
d 1
e 1
y 1

In [58]:
name = input("Please Enter your name: ")
temp_var = ""
i = 0
while i < len(name):
    if name[i] not in temp_var:
        temp_var+=name[i]
        print(f"{name[i]}:{name.count(name[i])}")
    i = i+1

Please Enter your name: Bishnu Pandey
B:1
i:1
s:1
h:1
n:2
u:1
 :1
P:1
a:1
d:1
e:1
y:1

# infinite loop

In [ ]:
"""
How tomake an infineite loop
to stop infiinite loop ctrl + c
"""

In [ ]:
i=0
while i<10:
    print("Hello world") # if we do not increment the value of i this will be an infinite loop

In [ ]:
while True:
    print("hello world!")

# for loop

In [60]:
count=0
for i in range(10):# range meaninig i = 0 to 9
    print("hello world! :  ",count)
    count = count+1

hello world! :   0
hello world! :   1
hello world! :   2
hello world! :   3
hello world! :   4
hello world! :   5
hello world! :   6
hello world! :   7
hello world! :   8
hello world! :   9

In [64]:
for i in range(1,11):# range meaninig i = 0 to 9
    print(f"hello world! : {i}")

hello world! : 1
hello world! : 2
hello world! : 3
hello world! : 4
hello world! : 5
hello world! : 6
hello world! : 7
hello world! : 8
hello world! : 9
hello world! : 10

# sum of first 10 natural numbers by using for loop

In [66]:
sum = 0
for i in range(1,11):
    sum = sum+i
print(sum)

55

In [ ]:
"""
for loop example
enter a multi digit number from an user and then sum all of the numbers

"""

In [73]:
num = input("please enter a multi digit number: ")
sum=0
for i in range(0,len(num)):
    sum = sum+int(num[i])
print(sum)

please enter a multi digit number: 234
9

In [ ]:
"""
Ask user about his name and print how many times each letter shows in his name by using the for loop


"""

In [77]:
name=input("please enter your name: ")
temp = ""
for i in range(0,len(name)):
    if name[i] not in temp:
        temp = temp + name[i]
        print(name[i],name.count(name[i]))

please enter your name: Bishnu pandey
B 1
i 1
s 1
h 1
n 2
u 1
  1
p 1
a 1
d 1
e 1
y 1

# break and continue statement ---> for loop

In [ ]:
"""
break statement breaks the loop
see the following example
"""

In [78]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [80]:
# now lets use the break statement
for i in range(0,10):
    if i==6:   #when i=6 , the if block will execute and wil break the for loop
        break
    print(i)
print("Balst off!, the break statement will take outside of the from the  loop when i become 6")

0
1
2
3
4
5
Balst off!, the break statement will take outside of the from the  loop when i become 6

In [81]:
# when I like to print all of the letters from 1 to 10 except a number say 6
for i in range(0,11):
    if i==6:
        continue
    print(i)
print("when i=6 , the if block will exexute and before printing 6, it return back for another value")

0
1
2
3
4
5
7
8
9
10
when i=6 , the if block will exexute and before printing 6, it return back for another value

# winning number game

In [ ]:
"""
By using the random method, generate a random number between a 0 and 100 and guess the winning number
ecah time the winning number will be different
You also have to count how many time you guessed the number correct

"""

In [90]:
import random
win_num = random.randint(0,100)
num=int(input("please Enter a number between 0 and 100: "))
guess = 1
game_over=False
while not game_over:
    if num ==win_num:
        print(f"You win the game and you guessed for {guess} times")
        game_over=True
        
    else:
        if num>win_num:
            print("You entered too high")
            guess= guess+1
            num= int(input("please Enter again"))
        else:
             print("You entered too low")
             guess= guess+1
             num= int(input("please Enter again"))

please Enter a number between 0 and 100: 10
You entered too low
please Enter again20
You entered too high
please Enter again12
You entered too low
please Enter again14
You entered too low
please Enter again16
You entered too low
please Enter again19
You entered too high
please Enter again18
You win the game and you guessed for 7 times

# DRY principle ---> Do not repeat yourself

In [ ]:
"""
some time we repeat same code again and again. for example in the above code the following lines are repeated

guess= guess+1
num= int(input("please Enter again"))

I am going  to remove these two lines from the if part and then
I will takke thse lines out from the 2nd else part will give the same rsult

see the following example


"""

In [91]:
import random
win_num = random.randint(0,100)
num=int(input("please Enter a number between 0 and 100: "))
guess = 1
game_over=False
while not game_over:
    if num ==win_num:
        print(f"You win the game and you guessed for {guess} times")
        game_over=True
        
    else:
        if num>win_num:
            print("You entered too high")
           
        else:
             print("You entered too low")
        guess= guess+1
        num= int(input("please Enter again"))

please Enter a number between 0 and 100: 20
You entered too low
please Enter again40
You entered too low
please Enter again50
You entered too low
please Enter again60
You entered too high
please Enter again56
You entered too low
please Enter again58
You entered too low
please Enter again59
You win the game and you guessed for 7 times

# Step argument in range function

In [ ]:
"""
for i in range(0,10)# here 0 is the start argument, 10 is the stop agumrnt and by default step argument is 1
wgich is hidden that is 

or i in range(0,10,1) so if we change 1 to 2 this loop will print the numbers in the interval of 2

"""

In [96]:
for i in range(0,11): # default step argument is 1
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [95]:
for i in range(0,11,2): # step argument is 2
    print(i)

0
2
4
6
8
10

# PYTHON FUNCTION

In [ ]:
"""
A function is a set of statements that take inputs, do some specific computation and produces output.
The idea is to put some commonly or repeatedly done task together and make a function, so that instead
of writing the same code again and again for different inputs, we can call the function.

"""

In [97]:
#simple function syntax
def add_1(a,b):
    return a+b
print(add_1(4,6))

10

In [98]:
def add_1(a,b):
    return a+b
c = add_1(4,6)
print(c)

10

In [99]:
def ad_2(a,b):
    c=a*b
    return c
d=ad_2(5,4)
print(d)

20

# More about Function

In [ ]:
"""
function will take a name as an input and will return its last cahrecer

"""

In [105]:
name = input("Please Enter your name : ")
def simple_func(a):
    return name[-1]
print(simple_func(name))

Please Enter your name : Bishnu
u

In [106]:
#Another way to do the same problem
def simp_fun(name):
    return name[-1]
print(simp_fun("Bishnu"))

u

In [113]:
#Define a function that  will tell you whether it is a odd number or the even number
num = input("please enter a two digit number: ")
num=int(num)
def even_odd(a):
    b=a%2   
    if b==0:
        print("it is an even number")
    else:
        print("It is an odd number")
    return b
even_odd(num)

please enter a two digit number: 26
it is an even number

0

In [114]:
# The same code can be written as a simple language
def even_odd(num):
    if num%2==0:
        return "even numebr" #means if this block(if block) will no execute
    return "odd number"  # this block will execute and odd number will be printed
print(even_odd(10))

even numebr

In [115]:
def even_odd(num):
    if num%2==0:
        return "even numebr"
    return "odd number"
print(even_odd(11))

odd number

In [116]:
#Lets define in the pythonic way
def odd_even(num):
    return num%2==0   #True means even
print(odd_even(10))

True

In [118]:
def odd_even(num):
    return num%2==0   #False means odd
print(odd_even(11))

False

In [121]:
#Take two numbers from user and write a function that will tell which one id greater
num1,num2 = input("Please enter two numbers aeparated by coma: ").split(",")
num1=int(num1)
num2=int(num2)
def large(a,b):
    if a>b:
        return " first number is bigger than that of the second one"
    return "the second number is larger than first one"
print(large(num1,num2))

Please enter two numbers aeparated by coma: 10,5
 first number is bigger than that of the second one

In [ ]:
"""
write a fuction
Enter a word and check whether it is a palindrome or not
palindrome = madam or naman     same from both side

"""

In [126]:
name = "madam" # with out writing a function
for i in range(0,len(name)):
    reverse= name[-1: :-1]
if name == reverse:
    print("it is palindrome")
else:
    print(" it is not a palindrone")

it is palindrome

In [127]:
name = "horse"
for i in range(0,len(name)):
    reverse= name[-1: :-1]
if name == reverse:
    print("it is palindrome")
else:
    print(" it is not a palindrone")

 it is not a palindrone

In [129]:
def check_p(word):
    reversed_word =word[::-1]
    if reversed_word==word:
        return True
    else:
        False
        
print(check_p("madam"))

True

In [133]:
def check_p(word):
    reversed_word =word[::-1]
    if reversed_word==word:
        return True
    else:
        return False        
print(check_p("horse"))

False

In [136]:
#The above code can be very simple

def check_pal(word):
    return word ==word[::-1]
print(check_pal("madam"))
print(check_pal("horse"))

True
False

# How to 1 to 10 in a horizontal line

In [139]:
for i in range(0,5): # this is vertical printing
    print(i)

0
1
2
3
4

In [141]:
for i in range(0,5): # this is horizontal  printing
    print(i,end= " ")

0 1 2 3 4

In [142]:
for i in range(0,5): # this is horizontal  printing
    print(i,end= " , ")# can separated by coma

0 , 1 , 2 , 3 , 4 ,

# variable Scope in python

In [ ]:
"""
a variable defined inside ne function cannot be used inside another function
"""

In [150]:
def fun1():
    x=5
    return x
def fun2():
    print(x)  
fun2()

NameError: name 'x' is not defined

In [ ]:
def fun1():
    x=5
    return x
print(x) # not allowed as it is the local variable

In [151]:
x=10 # global variable
def fun1():
    x=5   # local variable
    return x
print(fun1())
print(x) # n

5
10

In [152]:
x=10 # global variable
def fun1():
    global x
    x=5   # local variable
    return x
print(fun1())
print(x) # n
# global variable is changed by a local variable

5
5

In [153]:
print("chap 1 complete")

chap 1 complete