# This include some basic python stuffs like list, dictionary etc

# List

In [ ]:
"""
List is a data type, collectionof items
or ordered collection of items
in list we cn store anything like int, float, srting
if you need to assign so many variables in one variable, you can make a list
lets see the following examples


"""

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

In [ ]:
word = ["one",'two','three',"four","five"]# for string can use either '' quote or "" double quote
print(word)

In [ ]:
mixed =[1,2,3,"four",'five',6.0,7.8,'None']# in python None is nohing but it doesn't mean that it is zero
print(mixed)

## How to access the members of the list?

In [ ]:
numbers = [1,2,3,4,5]# I would like to access 2
print(numbers[1])
print(numbers[-1])# like to access the last nember that is 5

In [ ]:
numbers = [1,2,3,4,5]# can use slicing just like the string
print(numbers[0:3])

In [ ]:
numbers = [1,2,3,4,5] # reverse the list
print(numbers[::-1])

In [ ]:
numbers = [1,2,3,4,5]# can change the member of the list
numbers[2]="two"
print(numbers)

# Three methods to add data to the list, append, insert and extend

## Add data to the list:    append() method

In [ ]:
"""
By using the append method we can add items to the list
Note the item will be added to the end of the list
suppose I have a list with two items and would likt to add third item in it
see the following examples


"""

In [ ]:
fruits =["apple","banana"]#Add mango to thhe list
fruits.append("mango")
print(fruits)

In [ ]:
fru = ['one','two']# need to add three and four
fru.append("three","four") # only one item can be added at one time
print(fru)

## How to  use append() method in the real life problems

In [ ]:
"""
Take an empty list and append one by one like the following way

"""

In [ ]:
lis=[]# empty list
lis.append("grapes")
lis.append("mangoes")
lis.append('bananas')
print(lis)

## More methods to add data to the list

## insert() method  -> syntax  :    .insert(i,'item'), i is position

In [ ]:
# By using the insert method we can add or store the data in the position of our choice
# see the following example
# note the append method add the data or store the data at the end position of the listinsert

In [ ]:
fruit = ['mango', 'banana','apple']# now I would like to add grapes at position 2 that is after mango
fruit.insert(1,"grapes")
print(fruit)

In [ ]:
fruit = ['mango', 'banana','apple']# now I would like to add 100 at position 2 that is after mango
fruit.insert(2,100)
print(fruit)

## How to concatenate or add two list together

In [ ]:
fruits1 = ['mango','watermelon', 'banana']
fruits2=['apple','avocado','grapes']
fruit=fruits1+fruits2
print(fruit)

## extend() Method

In [ ]:
# Python list extend() is an inbuilt function that adds the specified list 
# elements (or any iterable) to the end of the current list.

In [ ]:
fruits1 = ['mango','watermelon', 'banana']
fruits2=['apple','avocado','grapes']
fruits1.extend(fruits2)
print(fruits1)

## Difference between the append()   and extend() method

In [ ]:
fruits1 = ['mango','watermelon', 'banana']  # thsii is the xend method
fruits2=['apple','avocado','grapes']
fruits1.extend(fruits2)
print(fruits1)

In [ ]:
fruits1 = ['mango','watermelon', 'banana']# This is the append method
fruits2=['apple','avocado','grapes']
fruits1.append(fruits2)  # this prodeces a list inside a list
print(fruits1)

# Two methods pop() and remove() methods and one del operetor to delete data from the list

## Delete items from the list

## 1. pop() method

In [ ]:
# if no argument is given to the ppo(), by default , the last element will be deleted
# if and index is given as an argument, the item at that index will be deleted
# see the folowing example

In [ ]:
fruit = ['mango','watermelon', 'banana','cucmber','kiwi']# NO index argument is given to the pop() method
fruit.pop()
print(fruit)

In [ ]:
fruit = ['mango','watermelon', 'banaba','cucmber','kiwi']# Index  1 is given asargument to pop() method
fruit.pop(1) # The item at the index 1 location is deleted
print(fruit)

## 2. delete operator :   del list[i], i the the position of the item

In [ ]:
fruit = ['mango','watermelon', 'banana','cucmber','kiwi']# del operator
del fruit[2] # note there is space between the del operator  and fruit
print(fruit)

## 3. remove method:   list.remove("item")

In [ ]:
fruit = ['mango','watermelon', 'banana','cucmber','kiwi']# I would like to remove the banana for example
fruit.remove('banana')
print(fruit)

In [ ]:
# In case there are two banana, then it will delete the first banana
fruit = ['mango','guava','banana','cucmber','kiwi','banana']# I would like to remove the banana for example
fruit.remove('banana') # The first banana will be deleted
print(fruit)

## How to check whether certsin itemis in our list or not

In [ ]:
fruit = ['mango','watermelon', 'banana','cucmber','kiwi']
if 'mango' in fruit:
    print("mango is present")
else:
    print("mango is not present in the list")

In [ ]:
fruit = ['mango','watermelon', 'banana','cucmber','kiwi']
if 'Apple' in fruit:
    print("Apple is present")
else:
    print("Apple is not present in the list")

# Some more useful methods in list

### count() method

In [ ]:
"""
This method can cound  frequency of any particular item in the given list
"""

In [ ]:
fruit = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
print(fruit.count('banana'))  #banana is 3 times in the list

In [ ]:
fruit = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
print(fruit.count('kiwi'))# kiwi is one time

## sort() method

In [ ]:
#when you like to sort the item in the alphabetical order
fruit = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
fruit.sort()
print(fruit)

In [ ]:
num=[3,5,7,3,2,1,9,10,19,13,12.0,5.5]
num.sort()
print(num)

In [ ]:
#note if you like to just print the numbers in the sorted order 
#but but do not like the list in the sorted order
num=[3,5,7,3,2,1,9,10,19,13,12.0,5.5]
print(sorted(num)) # list remains unchanged but it printed in the sorted order

## clear() method

In [ ]:
#clear method make our list empty
num=[3,5,7,3,2,1,9,10,19,13,12.0,5.5]
num.clear()
print(num)

## copy() method

In [ ]:
# when a separate copy of the list is needed
num=[3,5,7,3,2,1,9,10,19,13,12.0,5.5]
copy_num= num.copy()
print(copy_num)

## is vs ==      ---> comaparison of two list use ==

In [ ]:
# the == checks whether both of the list are same or not means the iteams 
fruit1 = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
fruit2 = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
print(fruit1==fruit2)

In [ ]:
# is checks whether bith list has same  address or not
fruit1 = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
fruit2 = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
print(fruit1 is fruit2)

## split() method   --> convert the string in to the list

In [ ]:
# I have the folloeing string
# and am going to change this stwring in to the list

In [ ]:
user_info = "Bishnu Pandey 24" # it will break where there is a spsce
user_info = user_info.split()
print(user_info)

In [ ]:
user_info = "Bishnu,Pandey,24" # if there is no space but coma, so give the following argument to the .split()
user_info = user_info.split(",")# will break where there is coma
print(user_info)

In [ ]:
#can store in a separate variable as well
name,age = "Bishnu,24".split(",")# it will break where there is a spsce
print(name)
print(age)

## join method

In [ ]:
user = ['bishnu','35']# two values in the list are joined by a coma
print(','.join(user))# Note both are in the string format

## list vs string

In [ ]:
# string --->immutable
# list ------->mutable
# immutable---->string can not be change   .. we can make a new string but can not modify the same string

#mutable ----> list can change or modify   eg. pop() method

## looping in list

## for loop

In [ ]:
fruits = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
for fruit in fruits:
    print(fruit)

## while loop

In [2]:
fruits = ['banana','mango','watermelon', 'banana','cucmber','kiwi','banana']
i=0
while i <len(fruits):
    print(fruits[i])
    i=i+1

banana
mango
watermelon
banana
cucmber
kiwi
banana

## list inside list

In [4]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0])
print(matrix[2])

[1, 2, 3]
[7, 8, 9]

In [ ]:
#lets print all of the lists

In [5]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
for i in matrix:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [6]:
#lets print all of the elements separately
matrix = [[1,2,3],[4,5,6],[7,8,9]]
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [ ]:
# lets access the element 7 only
#1. find the position of the list that contain 7   -> 7 is in the 3rd list. its position is 2
# 2. find the position of 7 in the list.  position of 7 in this 3rd lis is 0

In [8]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[2][0])

7

In [9]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(type(matrix))

<class 'list'>

## generate list using a range function

In [10]:
num= list(range(1,10)) # generates a list  from 1 to 10
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
num= list(range(1,25,5)) # generates a list  from 1 to 10
print(num)

[1, 6, 11, 16, 21]

## index() method

In [ ]:
# This method find the position of the

In [14]:
#matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix = [11,2,1,3,4,5]
m1=matrix.index(1)
print(m1)

2

In [16]:
matrix = [1,2,4,5,1,3,4,5] # it will start to find from 0 
print(matrix.index(1))

0

In [ ]:
# if need to find the other 1 that is other tan 0th position, need to specify the from where to start

In [17]:
matrix = [1,2,4,5,1,3,4,5] # it will start to find from 3r position
print(matrix.index(1, 3))#

4

## pass list to a function

In [18]:
num = [1,2,4,5,1,3,4,5]
def negative_num(lis):
    negative = []
    for i in lis:
        negative.append(-i)
    return negative
print(negative_num(num))

[-1, -2, -4, -5, -1, -3, -4, -5]

In [ ]:
#define a function and this fun will pass to a list and the list will return the square of the number

In [19]:
num = [1,2,4,5,1,3,4,5]
def square_num(lis):
    square = []
    for i in lis:
        square.append(i**2)
    return square
print(square_num(num))

[1, 4, 16, 25, 1, 9, 16, 25]

In [ ]:
#Define a function that will take a list as an argumant and then reverse the list by 
#using the pop and append method

In [28]:
def rever(l):
    l.reverse()
    return l
lis = [1,2,3,4,5]
print(rever(lis))

[5, 4, 3, 2, 1]

In [33]:
ls = [1,2,3,4,5]
def reverse_l(ll):
    reversed = []
    for item in range(0,len(ll)):
        ll1 =ll.pop()
        reversed.append(ll1)
    return reversed
print(reverse_l(ls))

[5, 4, 3, 2, 1]

In [ ]:
#Define a function that take a list as an argument and then reverse the string in the list
[ 'abc', 'def', 'pqr'] --> ['cba','fed','rqp']

In [34]:
list_1 = ['Bishnu', 'Pandey', 'sidddarha']
def reverse_1(l1):
    empty = []
    for i in l1:
        empty.append(i[::-1])
    return empty
print(reverse_1(list_1))

['unhsiB', 'yednaP', 'ahradddis']

In [ ]:
#Define a function which will take a list as an argument
# create two list inside the main list one of them contain odd number and anoter contain even number
#[1,2,3,4,5,6,7,8]---> [[1,3,5,7],[2,4,6,8]]

In [40]:
num = [1,2,3,4,5,6,7,8]
def function_1(l):
    even=[]
    odd=[]
    for i in l:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    l3=[odd,even] 
    return l3
print(function_1(num))

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [ ]:
#Define a function that will take two list as an argument, both of the list contain numbers
# finally the the list will return onlt those numbers which are cmmon in both

# [1,2,3,4],  [2,3,5,6,7]
# return -->   [2,3]

In [42]:
l1 = [1,2,3,4,5,7]
l2 = [1,5,7,9]
def common_1(a,b):
    empty_1 = []
    for i in a:
        for j in b:
            if i ==j:
                empty_1.append(i)
    return empty_1
print(common_1(l1,l2))

[1, 5, 7]

## min()  and max() functions

In [ ]:
# these functions can find the minimum and maximun numbers in the given list

In [44]:
l1 = [2,4,6,19,1,90.0]
print(min(l1)) #will print the minimum value 
print(max(l1))#will print the maximum value

1
90.0

# Tuples

In [ ]:
'''
Tuple is a data structure can store any types of data in it
tuples are immutable that means once it is created it won't change.
Tuples are faster
We use tuple when we do not have to change the values say name of the days or names of the month

Method used in topple
count
index
length   how is length
slicing



'''

## looping in tuple

In [2]:
mixed = (1,2,3.5,6.8,9.0)
for i in mixed:
    print(i)

1
2
3.5
6.8
9.0

In [3]:
mixed = (1,2,3.5,6.8,9.0)
i=0
while i < len(mixed):
    print(mixed[i])
    i=i+1

1
2
3.5
6.8
9.0

# tuple with one element

In [4]:
one = (1) # This is not a tuple
print(type(one))

<class 'int'>

In [6]:
one = (1,) # This is a tuple  # must put comm after the first element
print(type(one))

<class 'tuple'>

# tuple without parenthesis

In [7]:
names= 'Bishnu','sid',"sarwin" # after putting comma it will become a tuple
print(type(names))

<class 'tuple'>

## tuple unpacking

In [9]:
names= 'Bishnu Pandey','sid Pandey',"sarwin Pandey"
name1,name2,name3=names #make sure 
print(name1)
print(type(name1))

Bishnu Pandey
<class 'str'>

In [10]:
names= 'Bishnu Pandey','sid Pandey',"sarwin Pandey"
name1,name2 = names #make sure the variable on lHRS must be equal to the no of items in the tuple
print(name1)
print(type(name1))

ValueError: too many values to unpack (expected 2)

## list inside tuple

In [ ]:
# can put a list inside a tuple and can do pop(), remove  or del with the list which is inside the tuple

In [15]:
capitals = ("DC",'paris', 'tokyo','beijing',['kathmandu','new delhi','thimpu'])
print(capitals)
print(capitals[4])
print(capitals[4].pop())
print(capitals)#thimpu will be deleted
capitals[4].append("kyoto is not capital")# append method is used
print(capitals)

('DC', 'paris', 'tokyo', 'beijing', ['kathmandu', 'new delhi', 'thimpu'])
['kathmandu', 'new delhi', 'thimpu']
thimpu
('DC', 'paris', 'tokyo', 'beijing', ['kathmandu', 'new delhi'])
('DC', 'paris', 'tokyo', 'beijing', ['kathmandu', 'new delhi', 'kyoto is not capital'])

# function that can be used in the tuple

### min(), max(), sum

In [18]:
num = (1.5,2,3,4,5,80.5)
print(min(num))
print(f"The maximum number is {max(num)}")
print(f"The sum is the {sum(num)}")

1.5
The maximum number is 80.5
The sum is the 96.0

## function returning two values

In [19]:
def func(a,b):
    add = a+b
    multiply= a*b
    return add,multiply # this will return a tuple
print(func(5,4))

(9, 20)

In [21]:
# just in case if you need the separate values
def func(a,b):
    add = a+b
    multiply= a*b
    return add,multiply
add,multiply=(func(5,4))
print(add)
print(multiply)

9
20

## More about tuple

In [23]:
nums = tuple(range(1,11))
print(nums)
print(type(nums))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [25]:
nums1 = tuple(range(1,112,10))
print(nums1)
print(type(nums1))

(1, 11, 21, 31, 41, 51, 61, 71, 81, 91, 101, 111)
<class 'tuple'>

# Change a tuple in to the list

In [26]:
tup1 = tuple(range(1,112,10))
lst1 = list(tup1)
print(lst1)

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91, 101, 111]

In [27]:
nums = list((1,2,3,4,5))
print(nums)

[1, 2, 3, 4, 5]

## change tuple in to string

In [28]:
numb=str((1,2,3,4,5)) #looks like a tuple but is a string
print(numb)
print(type(numb))

(1, 2, 3, 4, 5)
<class 'str'>

# Dictinanry

### Dictionnaries are the unordered collection of data in key: value pair

In [2]:
# A simple example of a  dictionary
user = {"name":"Bishnu",'age':34} #name ie key and Bishnu is value simillarly age is key and 34 is a value
print(user)
print(type(user))

{'name': 'Bishnu', 'age': 34}
<class 'dict'>

## Another way to create a dictionary   dict() method

### key should not be in the form of a string and : will be replaced byn  =  sign

In [8]:
name_1 = dict(name = 'Siddartha',age=6) #
print(name_1)

{'name': 'Siddartha', 'age': 6}

## How to access data in the dictionary or how to access the items in the dictionary

In [11]:
user = {"name":"Bishnu",'age':34} 
print(user['name'])
print(user['age'])

Bishnu
34

## Dictionary can hold a integer, string or list

In [21]:
#More common way to write a dictionary
user_info = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': ' particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']   
    
}
print(user_info) # will print the whole dictionary

{'name': 'Bishnu', 'age': 34, 'favourite_subject': ' particle physics', 'favourite_movies': [' 3 idiot', 'dabang', 'king no. 1'], 'favourite_songs ': ['mera man', 'aaja tujhko', 'aa jeele ek pal mei']}

In [22]:
user_info = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': ' particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']   
    
}
print(f" These are my favouritite movies{user_info['favourite_movies']}")# will print the favourite movies only

 These are my favouritite movies[' 3 idiot', 'dabang', 'king no. 1']

## can create a dictionary inside a dictionary

In [40]:
# something wrong

## How to add  data to an empty dictionary

In [42]:
user2 = {}
user2['name']='Bishnu'
user2['age']=34
print(user2)

{'name': 'Bishnu', 'age': 34}

## in keyword and iterations(loops in dictionary)

In [47]:
# Lets check name key is present in the dictionary or not
# syntax   :   is 'name' in dict_name:
user_info = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': ' particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
if 'age' in user_info:
    print("age is present in the dictionary")
else:
    print(" not present")

age is present in the dictionary

## values() method

### how to check whether a aprticular value is present in the dictionaary or not

In [53]:
user_info = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
if 'particle physics' in user_info.values(): # .values() method is used here 
    print("is present in the dictionary")
else:
    print(" not present")

is present in the dictionary

### how to check whether a list is present in the given dictionary or not

In [54]:
user_info = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
if ['mera man','aaja tujhko', 'aa jeele ek pal mei']  in user_info.values(): # .values() method is used here 
    print("is present in the dictionary")
else:
    print(" not present")

is present in the dictionary

## loops in he dictionary

In [55]:
user_info = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
for i in user_info: # Note all of the keys will be printed
    print(i)

name
age
favourite_subject
favourite_movies
favourite_songs

In [56]:
#need to print all of the values present the dictionary
user_info = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
for i in user_info.values(): # Note all of the values will be printed
    print(i)

Bishnu
34
particle physics
[' 3 idiot', 'dabang', 'king no. 1']
['mera man', 'aaja tujhko', 'aa jeele ek pal mei']

In [58]:
user_info_values = user_info.values() # all of the values are stored in a variable
print(user_info_values)# all of the stored values are printed
print(type(user_info_values)) # note this is not list even though looks like a lsit

dict_values(['Bishnu', 34, 'particle physics', [' 3 idiot', 'dabang', 'king no. 1'], ['mera man', 'aaja tujhko', 'aa jeele ek pal mei']])
<class 'dict_values'>

## keys() method

In [65]:
user_info_keys = user_info.keys() # all of the values are stored in a variable
print(user_info_keys)# all of the stored values are printed
print(type(user_info_keys))

dict_keys(['name', 'age', 'favourite_subject', 'favourite_movies', 'favourite_songs '])
<class 'dict_keys'>

# items() method

In [60]:
user_items=user_info.items()
print(user_items)
print(type(user_items)) # looks like inside a list there is touple

dict_items([('name', 'Bishnu'), ('age', 34), ('favourite_subject', 'particle physics'), ('favourite_movies', [' 3 idiot', 'dabang', 'king no. 1']), ('favourite_songs ', ['mera man', 'aaja tujhko', 'aa jeele ek pal mei'])])
<class 'dict_items'>

In [62]:
for key,value in user_info.items(): # note key and value can be written as i, j or a, b or so on
    print(f"key is {key} and value is {value}")

key is name and value is Bishnu
key is age and value is 34
key is favourite_subject and value is particle physics
key is favourite_movies and value is [' 3 idiot', 'dabang', 'king no. 1']
key is favourite_songs  and value is ['mera man', 'aaja tujhko', 'aa jeele ek pal mei']

## How to add data to a dictionary

In [73]:
user_info_1 = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
user_info_1['favourite places'] = ['Virginia','New York', 'Tokyo','Kyoto']
print(user_info_1)

{'name': 'Bishnu', 'age': 34, 'favourite_subject': 'particle physics', 'favourite_movies': [' 3 idiot', 'dabang', 'king no. 1'], 'favourite_songs ': ['mera man', 'aaja tujhko', 'aa jeele ek pal mei'], 'favourite places': ['Virginia', 'New York', 'Tokyo', 'Kyoto']}

## pop() method delets the key value pair from a dictionariy

In [71]:
user_info_1 = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
pooped_item = user_info_1.pop('favourite_movies')
print(f"The pooped item is {pooped_item}")
print(f"The dictionary after pop is {user_info_1}")

The pooped item is [' 3 idiot', 'dabang', 'king no. 1']
The dictionary after pop is {'name': 'Bishnu', 'age': 34, 'favourite_subject': 'particle physics', 'favourite_songs ': ['mera man', 'aaja tujhko', 'aa jeele ek pal mei']}

## update() method

In [ ]:
# This method is used in the folowing situation
'''
for example I have a  dictionary and I have another dictionary.
user_info  ----> dict1
more_info  ----->dict2
need to add the dict2 to dict1 or in another words I like to update the dict1



'''

In [75]:
user_info_1 = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
more_info ={
    'travelled city':'Tokyo',
    'conference':'hyp2019'
}

user_info_1.update(more_info)# the user_info_1 will be updated
print(user_info_1)

{'name': 'Bishnu', 'age': 34, 'favourite_subject': 'particle physics', 'favourite_movies': [' 3 idiot', 'dabang', 'king no. 1'], 'favourite_songs ': ['mera man', 'aaja tujhko', 'aa jeele ek pal mei'], 'travelled city': 'Tokyo', 'conference': 'hyp2019'}

## fromkeys() method

In [ ]:
'''
fromkeys method is used to creaet a dictionary
for examaple if I would like to create something like this 
d = {'name':'unknown','age':'unknown','height':'unknown'}
'''

In [76]:
di = dict.fromkeys(['name','age','height'],'unknown')
print(di)

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [77]:
dii = dict.fromkeys(['name','age','height'],['unknown','unknown','unknown'])
print(dii)

{'name': ['unknown', 'unknown', 'unknown'], 'age': ['unknown', 'unknown', 'unknown'], 'height': ['unknown', 'unknown', 'unknown']}

## get() method :  useful method

In [79]:
# can access the key by using the get() method
d ={'name':'Bishnu','age':35}
print(d.get('name'))

Bishnu

In [80]:
#NOw I am giving the wrong key to the  get method, and it should return the None that means the 
# key is not presentin the dictionary
d ={'name':'Bishnu','age':35}
print(d.get('names')) # since names key is not present in the dictinary

None

### Another way to check whetehr a key is present in the dictionary or not

In [82]:
if 'name' in d:
    print("is present ")
else:
    print("not present")

is present

In [84]:
if 'names' in d:
    print("is present ")
else:
    print("not present")

not present

### smae syntax with the get() METHOD

In [85]:
if d.get('name'):
    print("is present")
else:
    print("is not present")

is present

In [86]:
if d.get('namess'):
    print("is present")
else:
    print("is not present")

is not present

## clear() method

In [87]:
print(d)

{'name': 'Bishnu', 'age': 35}

In [90]:
# now use the clear() methhod
d.clear()  # make the dictionary empty
print(d)

{}

## copy() method

In [ ]:
'''
If you like to make a copy of a dictionary,
you can make it

'''

In [91]:
user_info_1 = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}
# I would like to make a copy of the user_info_1 to new_user, the user_info_1 will be stored in the new_user
new_user= user_info_1.copy()
print(new_user)

{'name': 'Bishnu', 'age': 34, 'favourite_subject': 'particle physics', 'favourite_movies': [' 3 idiot', 'dabang', 'king no. 1'], 'favourite_songs ': ['mera man', 'aaja tujhko', 'aa jeele ek pal mei']}

In [93]:
print(user_info_1 is new_user) # they are different dictinaries

False

In [94]:
# IF I copy the dictionary in the following way
new_dic = user_info_1
print(user_info_1 is new_dic) #  MEaning they are same dictionary in the memory

True

## Exercise dictionary

In [ ]:
'''
Define a function and that function wil take anumber as an argument and will return 
 the cube of the number in the form of a dictionary
for example 1:1, 2:8,3:27

'''

In [98]:
def cube_return(a):
    d={}
    for i in range(0,a):
        d[i]=i**3
    return d
print(cube_return(5))

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

0
1
2
3
4
5
6
7
8
9
10

## use loop to access the keys and the vlues together

In [100]:
user_info_1 = {
    'name': 'Bishnu',
    'age' : 34,
    'favourite_subject': 'particle physics',
   'favourite_movies':[' 3 idiot','dabang','king no. 1'],
   'favourite_songs ': ['mera man','aaja tujhko', 'aa jeele ek pal mei']  
       
}

for key,value in user_info_1.items(): # note key and value in for loop can be replaced by anything like i, j
    print(f"The key are :{key} and the values are : {value}")

The key are :name and the values are : Bishnu
The key are :age and the values are : 34
The key are :favourite_subject and the values are : particle physics
The key are :favourite_movies and the values are : [' 3 idiot', 'dabang', 'king no. 1']
The key are :favourite_songs  and the values are : ['mera man', 'aaja tujhko', 'aa jeele ek pal mei']

# Set data types

In [ ]:
# unordered collection and unique data types
# unique means set1 = {2,1,2,3}, 2 shows twics but will be counted by one time only
# unordered means we cannot use the index here that is we can not do s[0] or s[i], i = 0,1,2

In [101]:
s = {1,2,3,4,5,6,3}
print(s)
print(type(s)) # 3 won't repeat

{1, 2, 3, 4, 5, 6}
<class 'set'>

# Why do we use set

In [ ]:
# for example I have the following list
# l = [1,2,3,4,5,1,2,4,5,3,5,34,,6,78,,8,9,1,2,3,4,5,54,3,2,1]
# most of the numbers are repeated many times. I f you like to have not repeat any of them
# or in another word one number one time. To do this we can use the set

In [104]:
l = [1,2,3,4,5,1,2,4,5,3,5,34,6,78,8,9,1,2,3,4,5,54,3,2,1]
# do not repaet the numbers
s = set(l)
print(s)
# I would likt to change tem back to list agaian
l1 = list(s)
print(l1)

{1, 2, 3, 4, 5, 34, 6, 8, 9, 78, 54}
[1, 2, 3, 4, 5, 34, 6, 8, 9, 78, 54]

In [105]:
# lets do the shortcut method for the above work
l = [1,2,3,4,5,1,2,4,5,3,5,34,6,78,8,9,1,2,3,4,5,54,3,2,1]
l1 = list(set(l))
print(l1)

[1, 2, 3, 4, 5, 34, 6, 8, 9, 78, 54]

# Methods for the set

## add() method -> This adds elements to the set

In [106]:
s1 = {1,2,3,4,5} # like to add 6 in the same set
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

## remove() method ---> removes the elements form the set

In [107]:
s1 = {1,2,3,4,5} # like to remove 3 from the set
s1.remove(3)
print(s1)

{1, 2, 4, 5}

In [108]:
#clear() method ---> This method will clear the  given set
s2 = {1,2,3,4,5,6}
s2.clear()
print(s2)

set()

## copy() method

In [109]:
s2 = {1,2,3,4,5,6}
s3 = s2.copy()
print(s3)

{1, 2, 3, 4, 5, 6}

### What things can be stored in the set

### can not store list, dictionary and tuple in the set but can store the integer, float and string

In [110]:
ss = {1,2.3,4.5,'hello'}
print(ss)

{1, 2.3, 4.5, 'hello'}

In [111]:
ss1 = {1,1.0, 1.1,2.3,4.5,'hello'} # 1 and 1.0 are the same
print(ss1)

{1, 2.3, 1.1, 4.5, 'hello'}

## how to check the  item in the set

In [112]:
ss1 = {1,1.0, 1.1,2.3,4.5,'hello'} 
if 1.1 in ss1:
    print("is present")
else:
    print("not present")

is present

In [113]:
for item in ss1:
    print(item)

1
2.3
1.1
4.5
hello

### set mathematics   we can do the operation like the union and the intersection with set

In [115]:
# union meaning combine all but do not repeat
# s1 = {1,2,3,4} and s2 = {3,4,5,6} Nouw the s1 union s2 in set is represented by s1 | s2 and 
# the s1 | s2 = {1,2,3,4,5,6}     3 and 4 won't be repeated
# see the following example

In [116]:
s1 = {1,2,3,4} 
s2 = {3,4,5,6}
s3 = s1 | s2
print(s3)

{1, 2, 3, 4, 5, 6}

In [ ]:
# intersection means the common elements in bothof the set and in the above example 3,4 are the common items
# intersection is represented by s1 & s2
# see the following example

In [117]:
s4 = s1&s2
print(s4)

{3, 4}

# List Comprehsnsion

### unique way of coding

### create a list of square of number from 1 to 10

In [127]:
sq_1 = []  # This is the simple way to create a list
for i in range(1,11):   
    sq_1.append(i**2)
print(sq_1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# NOw use a comprehensive way to create the list
# first we need a empty list, in the loop we append i**2 in it,therefore write i**2 inside the list
# we also used the for  loop  so add the for loop over there that after i**2 add for loop with out coma
# Lets see the following example

In [130]:
sq_2 = [i**2 for i in range(1,11)]
print(sq_2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Lets see another example 
# create a list up to 10 but with the negative numbers that is [-1,-2,...]

In [131]:
neg_num = []
for i  in range(1,11):
    neg_num.append(-i)
print(neg_num)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [132]:
# Now lets do the comprehension method
# 1. need to append -i
# 2. think about  its range
neg_2 = [-i for i in range(1,11)]
print(neg_2)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [ ]:
#Another example
# for exxaple I have  a list  l1 = ["Bishnu", "Obama","Tony"]
# I would like to put the first letter of ecah name in the new list l2

In [136]:
#Simple way
l1 = ["Bishnu", "Obama","Tony"]
l2 =[]
for i in l1:
    l2.append(i[0])
print(l2)

['B', 'O', 'T']

In [137]:
#Lets do the same problem throgh the comprehensive way
new_l1 =[i[0] for i in l1]
print(new_l1)

['B', 'O', 'T']

In [ ]:
# Define a  function that will take a list  containing string as input and will return the reverse of the 
# string
# eg ls = ['abc', 'pqr']  function will take this list as an input and    will return ['cba','rqp']

In [165]:
#Simple way or the normal way
ss=['ab','cd']
def reverse_fun (a):
    emp=[]
    for i in a:
        emp.append(i[::-1])
    return emp
print(reverse_fun(ss))

['ba', 'dc']

In [172]:
# Now lets try the comprehenspipvep way
name = ["Bishnu","pandey"]
def rev_1(l):
    return [i[::-1] for i in l]
print(rev_1(name))

['unhsiB', 'yednap']

## List comprehenpsion with if statement

In [177]:
# supose you have a list of first 20 numbers and now you need  to create another list which contain nly the
# even numbers
ls = list(range(0,21))
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [179]:
l1=[]
for i in ls:
    if i%2==0:
        l1.append(i)
print(l1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [182]:
# Now lets try the comprehension method

ll1 = [i for i in ls if i%2==0]
print(ll1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## List comprehension with if ele statement

In [ ]:
#Example
# I have a list of first 10  number If even number multiply by 2 and if odd number multiply by -1
# That is [1,2,3,4...]  ----->[-1,2,-3,6 ..]

In [184]:
lss =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lss2 =[]
for i  in lss:
    if i%2==0:
        lss2.append(i*2)
    else:
        lss2.append(-i)
print(lss2)

[0, -1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [186]:
#lets do the same problem  by using the comprehensive method
LL =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
LL1 = [i*2 if (i%2==0) else (-i) for i in LL]
print(LL1)

[0, -1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

# List Comprehension in the nested if else statement

In [189]:
# Lets print the following type of the list by using the comprehension method
# ll=[[1,2,3],[1,2,3],[1,2,3],[1,2,3],[1,2,3]]  This is type  of the nested if else case
comp_list = [[i for i in range(0,4)] for j in range(0,6)]
print(comp_list)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

# Dcitionarty Comphrension

In [200]:
# Create a dictionary of the form {1:1,2:4,3:9} by using the dictionary comprehension method
square_1 = {i:i**2 for i in range(1,11) }
print(square_1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Lets modify the above code little bit
# square of 1:1
# square of 2 :4

In [205]:
square_1 = {f"square of {i} is " :i**2  for i in range(1,11)}
print(square_1)

{'square of 1 is ': 1, 'square of 2 is ': 4, 'square of 3 is ': 9, 'square of 4 is ': 16, 'square of 5 is ': 25, 'square of 6 is ': 36, 'square of 7 is ': 49, 'square of 8 is ': 64, 'square of 9 is ': 81, 'square of 10 is ': 100}

In [208]:
#lets  print in the separate lines
square_1 = {f"square of {i} is " :i**2  for i in range(1,11)}
for key,value in square_1.items():
    print(f"{key}:{value}")

square of 1 is :1
square of 2 is :4
square of 3 is :9
square of 4 is :16
square of 5 is :25
square of 6 is :36
square of 7 is :49
square of 8 is :64
square of 9 is :81
square of 10 is :100

In [209]:
#lets count each charaacter in a string repeats how many times by using the comprehendion method
string = "Bishnu Pandey"
letter_counter = {i:string.count(i) for i in string}
print(letter_counter)

{'B': 1, 'i': 1, 's': 1, 'h': 1, 'n': 2, 'u': 1, ' ': 1, 'P': 1, 'a': 1, 'd': 1, 'e': 1, 'y': 1}

# if else in the dicionary comprehension

In [ ]:
#Example 
# for the first 10 numbers make a dictionary in the following way
# d = {1: 'odd', 2:'even'....}

In [211]:
odd_even = {i : ('even' if i%2==0  else 'odd') for i in range(1, 11)}
print(odd_even)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

# Set comprehension

In [ ]:
#lets create a set from 1 to 10 in the form of square of each

In [213]:
set1 = {i**2 for i in range(1,11)}
print(set1)
print(type(set1))  # since set is the  un ordered collection therefor 64 is printed first in sead of 1

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
<class 'set'>

In [215]:
#  I have a list of names and I would like to make a set of firrst character of each
name = ['Bishnu', 'Barak',"Micahel", 'Shakira']
set1 = {i[0] for i in name}
print(set1)

{'M', 'B', 'S'}

In [ ]:
# I am closing this chapter here on April 19, 2020